/*Idea from internet*/



.orb, .wave{
        width: 300px;
        height: 300px;
        border-radius: 50%;
        position: absolute;
        left: 50%;
        top: 25%;
        transform: translate(-50%, -25%)
}

.orb{
        border: 3px solid darkturquoise;
        padding: 10px;
}

.wave{
        background: darkturquoise;
        overflow: hidden;
}


.wave:after{
        content:"";
        width: 400px;
        height: 400px;
        background-color: rgb(255, 255, 255, 0.8);
        position: absolute;
        left: 50%;
        top: 0;
        transform: translate(-50%, -20%);
        border-radius: 40%;
        animation: wave 5s linear infinite;
}
.wave::before{
        content: "Your Deep Sleep";
        position: absolute;
        left: 50%;
        top: 0px;
        color:darkturquoise;
        z-index: 99;
        transform: translate(-50%, 30px);
        text-transform: uppercase;
}

@keyframes wave {
        100%{
                transform: rotate(360deg);
        }
}